/*===========
Colors
==============*/

h1,
.review p {
    color: var(--clr-primary-700);
}

h1 {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
}

.lead-text {
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
}