//Colors
$color-dark-magenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$dark-gray-magenta: hsl(303, 10%, 53%);
$color-light-gray-magenta: hsl(300, 24%, 96%);

// Font weights
$font-400: 400;
$font-500: 500;
$font-700: 700;

// Variables
@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}